.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin: 20px 0;
}

.loader {
    width: 200px;
    height: 200px;
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}