.skeleton-loader {
    width: 100%;
    height: 40px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.skeleton-loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}